[submodule "node_modules/.cache/gh-pages/https !github.com!mondragon-developer!mdatatools.git"]
    path = node_modules/.cache/gh-pages/https !github.com!mondragon-developer!mdatatools.git
    url = https://github.com/mondragon-developer/mdatatools.git